name: Build and Push Docker Images

on:
  push:
    branches:
      - master

env:
  AWS_REGION: eu-west-3

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set image tag
      run: echo "IMAGE_TAG=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::380426548948:role/Ahmed-OIDC-Role
        aws-region: ${{ env.AWS_REGION }}

    - name: Ensure ECR repository exists
      run: |
        set -e
        REPO_NAME=ahmed-demo-lab-py
        REGION=${{ env.AWS_REGION }}
        
        echo "Checking if ECR repository $REPO_NAME exists..."
        
        if ! aws ecr describe-repositories --region $REGION --repository-names $REPO_NAME >/dev/null 2>&1; then
          echo "Repository $REPO_NAME does not exist. Creating..."
          aws ecr create-repository \
            --repository-name $REPO_NAME \
            --region $REGION \
            --image-scanning-configuration scanOnPush=true \
            --tags Key=Project,Value=FastAPI
          echo "Repository created."
        else
          echo "Repository $REPO_NAME already exists."
        fi

        # Export ECR URL
        ECR_REPO_URL=$(aws ecr describe-repositories --region $REGION --repository-names $REPO_NAME --query 'repositories[0].repositoryUri' --output text)
        echo "ECR_REPO_URL=$ECR_REPO_URL" >> $GITHUB_ENV

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REPO_URL

    - name: Build ECS Docker image
      run: docker build -f Dockerfile.ecs -t app-ecs:${{ env.IMAGE_TAG }} .

    - name: Build Lambda Docker image
      run: docker build -f Dockerfile.lambda -t app-lambda:${{ env.IMAGE_TAG }} .

    - name: Push ECS Docker image
      run: |
        docker tag app-ecs:${{ env.IMAGE_TAG }} $ECR_REPO_URL:ecs-${{ env.IMAGE_TAG }}
        docker push $ECR_REPO_URL:ecs-${{ env.IMAGE_TAG }}

    - name: Push Lambda Docker image
      run: |
        docker tag app-lambda:${{ env.IMAGE_TAG }} $ECR_REPO_URL:lambda-${{ env.IMAGE_TAG }}
        docker push $ECR_REPO_URL:lambda-${{ env.IMAGE_TAG }}

    - name: Trigger Infra Deployment
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: Ahmed-Hmila/deploy-infra
        event-type: update-infra
        client-payload: '{"image_tag":"${{ env.IMAGE_TAG }}"}'
